<ion-item-sliding *ngFor="let item of objectLists; index as indexId">
  <ion-item>
    <ion-checkbox
      slot="start"
      [checked]="item.completed"
      (ionChange)="toggleComplete(indexId, $event.detail.checked)">
    </ion-checkbox>
    <ion-label [ngClass]="{ 'completed-task': item.completed }">
      <h2>{{ item.title }}</h2>
      <p>{{ item.category }}</p>
    </ion-label>
    <ion-button fill="clear" slot="end" color="danger" (click)="remove(indexId)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>
</ion-item-sliding>
