<ion-header>
  <ion-toolbar color="">
    <ion-buttons>
      <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>
          To-do
        </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Add ToDo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #todoForm="ngForm" (ngSubmit)="save(todoForm.value)">
        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col>
              <ion-textarea
              class="textarea"
              type="text"
              label="Title"
              labelPlacement="floating"
              color="secondary"
              fill="outline"
              name="title"
              ngModel
              rows="5"
              maxlength="50"
              #title
              (keyup)="check(title.value)"
              >
              </ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select
              class="select"
              label="Category"
              labelPlacement="floating"
              fill="outline"
              name="category"
              [(ngModel)]="propCategory">

              <div *ngIf="objectCategories.length === 0; then ifBlock else elseBlock"></div>
              <ng-template #ifBlock>
                <ion-select-option value="default">Default</ion-select-option>
              </ng-template>
              <ng-template #elseBlock>
                <ion-select-option value="default">Default</ion-select-option>
                <ion-select-option
                  *ngFor="let item of objectCategories"
                  [value]="item.name">
                {{item.name}}
              </ion-select-option>
              </ng-template>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit"
              color=""
              expand="block"
              size="large"
              [disabled]="propDisabled"
              >
            <ion-icon
              name="save"
              slot="start">
            </ion-icon>
              Save
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="categoryFilterEnabled">
  <ion-card-header>
    <ion-card-title>Filter by Category</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-select
      interface="popover"
      placeholder="Select category"
      [(ngModel)]="selectedCategory"
      (ionChange)="onCategoryFilterChange($event.detail.value)">
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option
        *ngFor="let category of objectCategories"
        [value]="category.name">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
  </ion-card-content>
</ion-card>
  <app-list [categoryFilter]="selectedCategory"></app-list>
</ion-content>
